body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E7EBF1;
}
.container{
    max-width:600px;
    margin:auto;
}




/* ------------NAVBAR--------------- */

.navbar{
    background-color: #085380 !important;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 20px;
}

.navbar a{
    color: white !important;
    border-bottom: 1px solid #085380;
}

.navbar a:hover{
    border-bottom: 1px solid white;
}

.navbar a:focus{
    border-bottom: 1px solid white;
}

.navbar-brand:hover{
    border-bottom: 1px solid #085380 !important;
}

@media only screen and (min-width: 980px){
.navbar ul{
    padding-left: 5%;
    border-left: 1px solid white;
}
}

@media only screen and (max-width: 980px){
    .navbar a:hover{
        border-bottom: 1px solid #085380 !important;
    }
    }

@media only screen and (max-width: 980px){
        .navbar a:focus{
            border-bottom: 1px solid #085380 !important;
        }
        }



/* -----------LOGIN/REGISTER------------- */

.loginForm{
    margin-top: 10%;
    background-color: white;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 980px){
    .loginForm{
        max-width: 90%;
    }
}    

.settingsForm{
    margin-top: 3%;
    background-color: white;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

@media only screen and (max-width: 980px){
    .settingsForm{
        max-width: 90%;
    }
}    
/* ------------BUTTONS-------------------*/

.btn{
    background-color: #218ACC !important;
    color: white;
    border: 0px;
    padding: 7px 45px 7px 45px;
}

.btn-income{
    background-color: rgba(10, 148, 35, 0.8) !important;
    color: white;
    border: 0px;
    padding: 7px 45px 7px 45px;
}

.btn-income:hover{
    color: white;
}

.btn-expense{
    background-color: rgba(184, 4, 4, 0.8) !important;
    color: white;
    border: 0px;
    padding: 7px 45px 7px 45px;
}

.btn-expense:hover{
    color: white;
}



/* ------------PAGE LAYOUT----------------*/
.page{
    max-width: 95%;
    margin: auto;
    margin-top: 3% !important;
}


/* ------------TABS----------------- */

.tabSmall{
    padding: 0px;
    max-width: 42%;
    margin: 20px;
}


/* ----------ICONS--------------- */
.iconAlign{
    margin-top: auto;
    margin-bottom: auto;
}

/* ---------404--------------- */
#error {
    padding: 0px;
    max-width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#errorImage {
    max-width: 80%;
}
